.side {
  width: 350px;
  transition: all 0.4s ease;
  margin-right: -350px;
  padding: 4rem 2rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.sideOpen {
  margin-right: 0 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Mobile {
    justify-content: center;
  }
}

.tabs {
  background-color: var(--primary-95);
  border: 3px solid var(--primary-90);
  color: var(--secondary-80);
  padding: 2px;
  border-radius: 50px;
  font-weight: 600;
}

.messages,
.participants {
  overflow-y: scroll;
  flex-grow: 1;
  margin-top: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.messages {
  max-height: 70dvh; //Подумай на счет высоты scrollbar

  &Mobile {
    max-height: 45dvh;
  }
}

.participants {
  max-height: 80dvh;

  &Mobile {
    max-height: 50dvh;
  }
}

.bottomSheet {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .side {
    padding: 2rem 1rem 1rem 0;
    width: 300px;
    margin-right: -300px;
  }
}

@media (max-width: 800px) {
  .side {
    display: none;
  }
}
